 <article class="banner_offer">
<div class="container">
<div style="width: 100%; text-align: center; ">
      <div class="row-fluid">
           <ul class="thumbnails">
              <li class="span4">
                <a href="#/cat/1.1.2">
                    <img class="static_ad_image" alt="Click to get 20% off in Watches"
                         src="https://s3.amazonaws.com/blaupunkt-banners/1_200points.jpg"
                         width="200" /> <!-- mobiles_sony -->
                </a>
              </li>
              <li class="span4">
                    <a  href="#/cat/2.1.6">
                        <img alt="" class="static_ad_image"
                             src="https://s3.amazonaws.com/blaupunkt-banners/2_400points.jpg"
                             width="200" /><!-- Men_adidas_shoes banner -->
                    </a>
              </li>
                <li class="span4">
                    <a  href="#/cat/3.1.6"> 
                        <img alt="" class="static_ad_image"
                             src="https://s3.amazonaws.com/blaupunkt-banners/3_600points.jpg"
                             width="200" /><!-- Sony_headphones banner -->
                    </a>
                </li>
           </ul>
</div>
     <div class="row-fluid">
        <ul class="thumbnails">      
               
    <li class="span4">
    <a  href="#/cat/4.1.1">
        <img alt="" class="static_ad_image"
             src="https://s3.amazonaws.com/blaupunkt-banners/4_900points.jpg" width="200" /> <!-- Men_puma_shoes banner -->
    </a>
    </li>
                <li class="span4">
                    <a  href="#/cat/5.1.5">
                        <img alt="" class="static_ad_image"
                             src="https://s3.amazonaws.com/blaupunkt-banners/5_1500points.jpg" width="200" /> <!-- kids_crocs banner -->
                    </a>
                </li>
            <li class="span4">
                <a  href="#/cat/7.1.2">
                    <img alt="" class="static_ad_image"
                         src="https://s3.amazonaws.com/blaupunkt-banners/6_2500points.jpg" width="200" /> <!-- kids_crocs banner -->
                </a>
            </li>
        </ul>
</div>
    </div>
     </article>
     
</body>
</html>

