header .top_part .shadowbox .topsec{
	background: #fcb92d;
}
header .top_part .shadowbox .topsec a.after-login,header .top_part .shadowbox .topsec a.after-login1,header .top_part .shadowbox .topsec .marq,header .top_part .shadowbox .mainnav li ,header .top_part .shadowbox .mainnav li a:hover,.cat-details .cat_body_container .right_side .show_more,.footer .footerbottomlinks ul li a,.cat-details .cat_body_container .right_side ul.category-details li .cat_image .add_cart_bg .quick_bg-1,.cat-details .cat_body_container .right_side ul.category-details li .cat_image .add_cart_bg .quick_bg-1 .size_bg,header .top_part .shadowbox .topsec ul.secure li,.points .points_left .left ul li a:hover,.points .points_left .left ul li.my-active a,.btn_all,header .top_part .shadowbox .topsec a.login,.contact_us .contact_form .field_block .contact_btn,.feedback .feedback_form .field_block .feedback_btn,.my-account .left ul li a:hover,.my-account .left ul li.my-active a,.my-account .right .point_body .details_points_table th,.my-account .right .point_body .points .points_btn,.productviewSec .productinfo .coompadidv .buybtn, .rightlink ul li .innercontainer li.placeorder .orderbtn
{
	color: #ffffff;
}
a.sale
{
	color: #f5c405;
}
header .top_part .shadowbox .middlesec{
	background: #f3f3f3;
}
header .top_part .shadowbox .mainnav li{
border-left: 1px solid #414141;
}
header .top_part .shadowbox .mainnav li a,
.cat-details .cat_body_container .right_side ul.category-details li .cat_image .add_cart_bg .quick_bg-1 .size_bg:hover,
.cat-details .cat_body_container .right_side ul.category-details li .cat_image .add_cart_bg .quick_bg-1 .size_bg.act, .black_cover .popup_bg .tab_section ul li a
{
	color: #ffffff;
}
header .top_part .shadowbox .mainnav li a:hover{
	background:#fcb92d;  /*sweta---hover backgroun-color*/
	
}
.cat-details .cat_body_container .right_side ul.category-details li ul.offer li,.recently-viewd ul.recentview li ul.offer li,.cat-point,.top_seller .top_seller_bg .bottom_section ul li .prd_description ul.offer li, ul.productlist li .prd_description ul.offer li,.top-seller ul.topseller li .bottom_des ul.offer li {
	color:#ed1c24;	
}
.cat-details .cat_body_container .right_side ul.category-details li .cat_image .add_cart_bg .add_btn{
	background:#1088d8;
}
.cat-details .cat_body_container .right_side ul.category-details li .cat_image .add_cart_bg .quick_bg .quick-buy{
	color:#f5c405; 
}
header .top_part .shadowbox .topsec ul.secure li{
	border-right:1px solid #fff;
}
.btn_all,.contact_us .contact_form .field_block .contact_btn,.feedback .feedback_form .field_block .feedback_btn,.my-account .right .point_body .points .points_btn,.productviewSec .productinfo .coompadidv .buybtn, .rightlink ul li .innercontainer li.placeorder .orderbtn, .black_cover .popup_bg .tab_content_section span input[type='submit']{
	border: 1px solid #1088d8;    
}
.points .points_right .order_sumary_bg ul.order li .right_des .price,.points .points_right .order_sumary_bg .order_total p,.checkout .checkout_table tr td ul.order li .right_des .price,.checkout .checkout_table tr td .order_total p,.productviewSec .productinfo .coompadidv .offer,header .top_part .shadowbox .middlesec .rightlink ul li a .count,  .rightlink ul li .innercontainer li.prooductlist .product .off .offrate, header .top_part .shadowbox .middlesec .rightlink ul li .innercontainer li.total .totalamount{
	color: #ed1c24 !important;	
}
.rightlink ul li .innercontainer li.placeorder .orderbtn{
	background: #fbd12d url("custom_images/my-account/my-account-left-hover.jpg") repeat-x bottom !important;
}

.black_cover .popup_bg .tab_section{
	background: #2eb7e1
}
.black_cover .popup_bg .tab_content_section span input[type='submit']{
	color: #fff
}