<!-- Start: content -->
<!-- Start: contact us -->
<div class="aboutus ">
    <div class="container content_page ">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br/>
        <span class="cantent_page_title">About Us</span>
    <span class="cms_content">
    <p>	annectos emerged from decades of collective industry experience of the founders. Having worked closely with corporates, we understand that meaningful relationships, be they business or personal, are based on reciprocity. Nothing is more rewarding or encouraging than being recognised appropriately for one’s merit or concern. Nothing is more satisfying than being thanked for one’s contribution. And when one is rewarded or thanked, the bond grows stronger. You stay connected.</p>
    <p>Happy people perform better. Keeping our partner organisation’s employees and business associates happy improves their productivity. This reaffirming relationship is true for all individuals. We do not need the help of research studies to prove it.</p>
    <p>annectos is a start-up with a spectacular array of offerings to engage your workforce for every occasion - available through our online and offline presence. Whatever it is that you wish to share and spread - recognition, appreciation or gratitude, we have the right solution for you that will energize and enthrall the receiver.</p>
    <p>As a company we are young, driven and innovative. We aim at being the best in very possible way in our sphere of work. The first step is when you let us understand and work with you.</p>
    <p>Let us connect now!</p>
    <h1>Vision</h1>
    <p>
        To enable recognition through creativity, excellence and customer delight. Deliver exultation at work, business and customer environments.</p>
    <h1>Mission</h1>
    <p>
        To create innovative, game changing solutions that offer customers the freedom of choice at optimised costs and grow with zest to realize our potential as a trailblazer.</p>
    <h1>Our Values</h1>
    <p>
        The vibrant company culture at annectos is based on key shared values.
        <ul>
            <li>Customer Delight: We believe that customer delight is the key to growth. Understanding customer needs is the key to enhanced delivery.</li>
            <li>Creative Solutions: We trust that creative solutions lead to optimization of output. Think and apply.</li>
            <li>World Class: We are uncompromising when it comes to quality. World-class solutions distinguish us in the market.</li>
            <li>Absolute Integrity: We shall maintain unconditional integrity in all our dealings to hold our heads high with pride in ourselves and the organisation.</li>
            <li>Collaborative Culture: We strive to build and maintain a collaborative environment between all stakeholders in a bid to maximize out</li>
        </ul>
        </p>
    </span>
    </div>
<!-- end: contact us -->


<!-- End: content -->
</div>