<div class="cat1 view">
    <div class="container">
        <header>
            &nbsp
        </header>
        <div class="container">
            <div class="row">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <a href="{{slide.href}}">
                                <img ng-src="{{slide.image}}" style="width: 100%">
                            </a>

                        </slide>
                    </carousel>

                <!--<div ng-include src="'partials/'+{{obj}}+'.html'"></div>-->
                <!--<div  ng-include src="template.url" ></div>-->
            </div>
        </div>

    </div>
</div>