﻿<div class="contact_us ">
    <div class="container content_page ">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br />
        <form>
            <!-- Start: contact us -->
            <div class="container contact_us">
                <span class="title">Contact Us</span>
                <div class="contact_form">
                    <span class="contactinformation">Please enter your contact information.</span>
                    <span class="field_block">
                        <label>Name * </label>
                        <!--<span class="require"><span class="star">*</span>Required Fields</span>-->

                        <input type="text" ng-model="ContactUs.name" required="required" placeholder="Name" class="input_field" />

                        <!--<input type="text" value="{{name}}" class="input_field"/>-->

                    </span>
                    <span class="field_block">
                        <label>Email *</label>

                        <input type="text" ng-model="ContactUs.email_id" required="required" placeholder="Email" class="input_field" />

                        <!--<input type="text" value="{{email}}" class="input_field"/>-->

                    </span>
                    <span class="field_block">
                        <label>Telephone *</label>
                        <input type="text" ng-model="ContactUs.telephone" required="required" placeholder="Telephone" class="input_field" />
                    </span>
                    <span class="field_block">
                        <label>Comment </label>
                        <textarea name="textarea" ng-model="ContactUs.comments" required="required" placeholder="Comment" class="textarea_field"></textarea>
                    </span>
                    <span class="field_block">

                        <input type="submit" value="Submit" ng-click="SaveContactUs()" class="contact_btn" />

                        <!--<input type="submit" value="Submit" class="contact_btn" data-ng-click="save_contact()"/>-->

                    </span>
                </div>
                <div id="contact_address">
                    <span class="title">Address</span>
                    <hi>The Penguins Club</hi>
                    <p>
                        C/O annectoś Rewards & Retail Pvt Ltd,<br>
                        # 16, First Floor, Kumara Krupa road,Shivananda Circle,
                    <br>
                        Bangalore –560001
                    </p>

                </div>
            </div>
            <!-- end: contact us -->
        </form>
    </div>
</div>
