<div class="feedback ">
    <div class="container content_page ">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br />
        <!-- Start: feedback -->
        <form>


            <div class="container feedback">
                <span class="title">Feedback</span>
                <div class="feedback_form">
                    <span class="field_block">
                        <label>Your Name *</label>
                        <span class="fname_bg">
                            <input type="text" class="input_field" ng-model="Feedback.first_name" required="required" placeholder="First Name" /></span>
                        <span class="fname_bg">
                            <input type="text" ng-model="Feedback.last_name" class="input_field" required="required" placeholder="Last Name" /></span>
                    </span>
                    <span class="field_block">
                        <label>Your Email *</label>
                        <input type="text" ng-model="Feedback.email_id" required="required" class="input_field" />
                    </span>
                    <span class="field_block">
                        <label>Select Choices *</label>
                        <div class="select_bg">
                            <div class="select_image" required="required" id="mySelectval">{{feedback_choise}}</div>
                            <select id="mySelect" data-ng-model="sortorder">
                                <option value="NotSatisfied">Not Satisfied</option>
                                <option value="Satisfied">Satisfied</option>
                                <option value="VeryMuchSatisfied">Very Much Satisfied</option>
                                <option value="ProductRequest">Product Request</option>
                                <option value="ProductQuality">Product Quality</option>
                                <option value="ReturnRequest">Return Request</option>
                                <option value="PointRelated">Point Related</option>
                            </select>
                        </div>
                    </span>
                    <span class="field_block">
                        <label>Comment*</label>
                        <textarea name="textarea" ng-model="Feedback.feedback_comment" required="required" class="textarea_field"></textarea>
                    </span>
                    <!-- <span class="field_block">
                <label>Attachment (if any)</label>
                <input type="file" value=""/>
                <span class="max">Maximum file size allowed is 1 MB</span>
                </span>-->
                    <span class="field_block">
                        <input type="submit" value="Submit" class="feedback_btn" ng-click="SaveFeedback();">
                    </span>

                </div>
            </div>
            <!-- end: feedback -->
        </form>


    </div>
</div>
