<div class="login view">
    <div class="container">
        <header>
            <br />
            <br />
            <h3>Login</h3>
        </header>
        <div class="container-fluid">
            <div class="row">
                <!--START : LOGIN POPUP-->
                <div class="black_cover">
                    <div class="popup_bg">
                        <span class="tab_section">
                            <!--<a href="#/home"><span class="popupclose"></span></a>-->
                            <ul>
                                <li class="active">Login</li>
                                <li><a href="#/registration">Register</a></li>
                                <li><a href="#/forgot_password">Forgot password</a></li>
                                <li><a href="#/message">Message</a></li>
                            </ul>
                        </span>
                        <p class="clear"></p>
                        <!--LOGIN TAB START-->
                        <div class="tab_content_section">

                            <span>
                                <label>Company E-mail Address</label>
                                <input type="text" value="" name="email" ng-model="userlogin.email_id" />
                            </span>
                            <span>
                                <label>Password</label>
                                <input type="password" value="" name="password" ng-model="userlogin.password" />
                            </span>
                            <!--<span>-->
                                <!--<label>Country</label>-->
                                <!--<div id="mySelectval">- select country - </div>-->
                                <!--<select id="mySelect" onchange="displayResult()">-->
                                    <!--<option>- select country - </option>-->
                                    <!--<option>Country2</option>-->
                                <!--</select>-->
                            <!--</span>-->
                            <span>
                                <a href="#/forgot_password" class="forgott">Forgot Password?</a>
                                <input type="button" value="Login" ng-click="validateUserService()" />
                            </span>

                            <span>
                                <img src="../../Content/custom_images/Loading.gif" style="width: 50px; height: 50px;" ng-show="isViewLoading" />
                            </span>
                            <span ng-show="isViewLoading">Processing... </span>

                        </div>
                        <!--LOGIN TAB END-->
                    </div>
                </div>
                <!--END : LOGIN POPUP-->

                <!--<div class="span8">-->
                <!--&lt;!&ndash;<label>Email</label>&ndash;&gt;-->
                <!--<div>-->
                <!--&lt;!&ndash;<span class="add-on"><i class="icon-envelope"></i></span>&ndash;&gt;-->
                <!--<input type="EMAIL" placeholder="Enter EMail for Login" name="email" ng-model="userlogin.email_id" />-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="span8">-->
                <!--&lt;!&ndash;<label>Password</label>&ndash;&gt;-->
                <!--<div>-->
                <!--&lt;!&ndash;<span class="add-on"><i class="icon-password"></i></span>&ndash;&gt;-->
                <!--<input type="password" placeholder="Enter Password" ng-model="userlogin.password" />-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="span8">-->
                <!--<input type="button" ng-click="validateUserService()" value="Cancel" />-->
                <!--<input type="submit" ng-click="validateUserService()" value="Login" />-->

                <!--</div>-->
                <!--{{message}}-->
            </div>
        </div>
    </div>
</div>
