<div class="privacy ">
    <div class="container content_page ">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br/>
        <span class="cantent_page_title">Privacy Policy</span>
<span class="cms_content">
<h1>Privacy Policy</h1>
<p>	Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.  </p>
<h1>Collection of Personal Information</h1>
<p>We collect your personal information like email address, name, phone number, etc. from you when you set up a new account with Blaupunkt Blue Rewards. Ltd.If you browse through this site without providing us with any personal information, we will gather and store some information about your visit, such as IP address, type of browser and operating system used, date and time you access our site, pages you visit, and if you linked to our website from another website, the address of that website. This information will not identify you personally and will not be linked back to you.</p>
<h1>Use and Sharing of Information:</h1>
<p>At no time will we sell your personally-identifiable data without your permission unless set forth in this Privacy Policy. The information we receive about you or from you may be used by us or shared by us with our corporate affiliates, dealers, agents, vendors and other third parties to help process your request; to comply with any law, regulation, audit or court order; to help improve our website or the products or services we offer; for research; to better understand our customers' needs; to develop new offerings; and to alert you to new products and services from us , in which you may be interested. We may also combine information you provide us with information about you that is available to us internally or from other sources in order to better serve you.</p>


	<h1>Cookies</h1>
	<p> "cookie" is a small identifier sent from a web server and stored on your computer’s hard drive that will help us recognize you on your next visit to our website. From time to time, we may place "cookies" on your personal computer. To protect your privacy we do not use cookies to store or transmit any personal information about you on the Internet. </p>

	<h1>Cookies</h1>
	<p> "cookie" is a small identifier sent from a web server and stored on your computer’s hard drive that will help us recognize you on your next visit to our website. From time to time, we may place "cookies" on your personal computer. To protect your privacy we do not use cookies to store or transmit any personal information about you on the Internet. </p>

	<h1>Links</h1>
	<p>Our website may contain links to other sites. Such other sites may use information about your visit to this website. Our Privacy Policy does not apply to practices of such sites that we do not own or control. Blaupunkt Blue Rewards. Ltd.Is not responsible for the privacy practices or the accuracy and integrity of the content included on such other sites. </p>

	<h1>Security</h1>
	<p>We safeguard your privacy using known security standards and procedures and comply with applicable privacy laws. Our website has stringent security measures in place to protect the misuse, loss and alteration of the information which is under our control. All your personal information in our possession is adhered to strict security guidelines, protecting it against unauthorized access. Sensitive data is hashed or encrypted when it is stored in our infrastructure. Sensitive data is decrypted, processed and immediately re-encrypted or discarded when no longer necessary. </p>
</span>

    </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45400748-1', 'annectos.net');
    ga('send', 'pageview');

</script>