<div class="prod view">
    <div class="container">
        <header>
            <!--<h3>&nbsp</h3>-->
        </header>
        <br />
        <div class="row">
            <div class="breadcums_bg">
                <a href="#/home">Home</a>
                <span data-ng-repeat="cat in cats">>>
                    <!--<a href="../cat1.html#/{{cat.id}}">    {{cat.Name}} </a>-->
                    <a ng-show="cat.level == 1" class="breadcums_bg" href="../cat1.html#/{{cat.id}}">{{cat.Name}}  </a>
                    <a ng-show="cat.level > 1" class="breadcums_bg" href="#/cat/{{cat.id}}">{{cat.Name}}  </a>

                </span>
                <!--<a href="#/prod/{{product_id}}">{{productDetails.Name}}</a>-->
                <!--Breadcrumb to be implemented-->
            </div>

        </div>
        <!-- Start: product view -->
        <div class="container productviewSec">
            <div class="mainimgcontainer">
                <div class="bigimg">
                    <span zoom-view="{url: '{{selected_image_zoom}}' }">
                        <!--<img id="mainImage" ng-src="{{productDetails.image_urls[0].link}}" zoom-View="{url: '{{productDetails.image_urls[0].zoom_link}}'}" />-->
                        <img style="width: 300px"
                            id="mainImage"
                            ng-src="{{selected_image}}" />
                    </span>
                    <!--<img   data-ng-mouseover="changeImage1(img)"-->

                    <!--ng-src="{{selected_image}}"-->
                    <!--/>-->
                </div>
                <ul class="thumbnailsimg">
                    <li data-ng-repeat="img in productDetails.image_urls | orderBy:'display_name'">
                        <a data-ng-mouseover="changeImage(img)">
                            <img class="thumbImage" src="{{img.thumb_link}}" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="productinfo">
                <div class="inc5">
                    <!--<div><img src="Content/custom_images/ProductDetails/inc5.png" /></div>-->
                    <div>
                        <a href="{{brand_url}}">
                            <img src="{{brand_logo}}" /></a>
                    </div>
                    <div class="border">100% Original Products</div>
                    <!--<div>Free Shipping On Orders Over <span class="rupee">`</span>500</div>-->
                </div>
                <div class="coompadidv">
                    <h1>{{productDetails.Name}}</h1>
                    <div class="pcode">Product Code: {{productDetails.sku}}</div>
                    <!--<div class="rate_review">-->
                    <!--<ul class="rate">-->
                    <!--<li class="star active"></li>-->
                    <!--<li class="star active"></li>-->
                    <!--<li class="star active"></li>-->
                    <!--<li class="star"></li>-->
                    <!--<li class="star"></li>-->
                    <!--<li class="rate">(2)</li>-->
                    <!--</ul>-->
                    <!--<a href="#" class="review_count">1 Review</a>-->
                    <!--</div>-->
                </div>
                <div class="coompadidv">
                    <div>
                        <span ng-show="product_price.final_discount > 0" class="mrp">
                            <span ng-show="store_type != 'P'">MRP:</span>
                            <span ng-show="product_price.final_discount > 0" class="rupee">
                                <span ng-show="store_type != 'P'">`{{product_price.mrp}}</span>
                            </span>
                            <span ng-show="product_price.final_discount > 0" class="mrp off">
                                <span ng-show="store_type != 'P'">&nbsp {{product_price.final_discount}}% off</span>
                            </span>
                    </div>
                    <div class="offer">
                        <!--Offer:  <span class="rupee" ng-show="store_type != 'P'">`{{product_price.final_offer}} |</span>-->
                        {{productDetails.point}} Points
                    </div>

                    <div ng-show="out_of_stock != 1" class="stock">
                        Shipped in 15 -20 business days
                        <img ng-show="productDetails.Express" title="Items can be shipped in same day" ng-src="Content/custom_images/express.png" />
                    </div>
                    <div ng-show="out_of_stock == 1" class="out_of_stock">
                        {{stock_msg}}
                        <!--<img ng-show="productDetails.Express" title="Items can be shipped in same day" ng-src="Content/custom_images/express.png" />-->
                    </div>
                </div>
                <div ng-show="size_ind" class="coompadidv">
                    <h1>SELECT A SIZE </h1>
                    <buttons-radio style="font-size: xx-small; color: #ff0000; !important" data-toggle="buttons-radio"
                        model='myModel' options='myOptions' sku_sizes='prod_sku_sizes'></buttons-radio>
                </div>

                <div class="coompadidv">
                    <div ng-show="size_ind" class="sizeguide">Size Guide</div>
                    <div>
                        {{productDetails.shortdesc}}
                        <br />
                    </div>
                </div>
                <div class="coompadidv">
                    <div>
                        <!--<button class="buybtn" data-ng-click="addTocart(productDetails)"><span>REDEEM NOW</span></button>-->
                        <button ng-show="out_of_stock != 1" class="buybtn" data-ng-click="addTocart(productDetails)"><span>Add to Cart</span></button>
                    </div>
                    <div>
                        <button ng-show="out_of_stock != 1" class="addtoWishlist" data-ng-click="addToWishlist(productDetails)"><span>Add to Wishlist</span></button>
                    </div>
                    <span style="border:dotted #000000 1px;color:black;"  ng-hide="notification">

                     <img src="{{image}}" >
                     &nbsp;&nbsp;{{prod_name}} added to Wishlist.
                    <img src="Content/custom_images/close1.png" data-ng-click="delete_notification()" >
                    </span>

                </div>
               <!-- <div ng-show="MultipleItems > 0" class="coompadidv">
                    <header ng-repeat-start="product in AllProductList track by $id(product) | filter: {product.id:prod_id}">
                    </header>
                    <div ng-show="product.id == prod_id">
                        <a class="buybtn" data-ng-click="nextProduct()">Next</a>
                    </div>
                    <footer ng-repeat-end>
                    </footer>
                </div>-->
            </div>
        </div>
        <!-- end: product view -->

        <!-- Start: product description -->
        <div class="container productdesc">
            <h1>PRODUCT DESCRIPTION	</h1>
            <ul>
                <li>
                    <h2>Description</h2>
                    <p>{{productDetails.description}}</p>
                </li>
                <li data-ng-repeat="feature in productDetails.feature">
                    <h2>{{feature.name}}</h2>
                    <p>{{feature.values}}</p>
                </li>
            </ul>
        </div>
        <!-- Start: product description -->





    </div>
</div>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45400748-1', 'annectos.net');
    ga('send', 'pageview');

</script>
