<div class="quickbuy view">
    <div class="container">
        <div class="quickBuy">
            <div class="coverOverlay"></div>
            <div class="buyContent">
                <div class="closepop">
                    <img data-ng-click="close_quick_buy()" src="Content/custom_images/quickBuy/close.png" />
                </div>
                <div class="container productviewSec">
                    <div class="mainimgcontainer">
                        <div class="bigimg">
                            <ul class="pagination">
                                <li class="prev"></li>
                                <li class="next"></li>
                            </ul>
                            <span>
                                <img id="mainImage" ng-src="{{selected_image}}" zoom-view="{url: '{{productDetails.image_urls[0].zoom_link}}'}" />
                            </span>

                        </div>
                        <ul class="thumbnailsimg">
                            <li data-ng-repeat="img in productDetails.image_urls | orderBy:'display_name'">
                                <a data-ng-mouseover="changeImage(img)">
                                    <img class="thumbImage" src="{{img.thumb_link}}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="productinfo">

                        <div class="coompadidv">
                            <h1>{{productDetails.Name}}</h1>
                            <div class="pcode">Product Code: {{productDetails.sku}}</div>

                        </div>
                        <div class="coompadidv">

                            <div>{{productDetails.shortdesc}}</div>
                        </div>
                        <div class="coompadidv">
                            <div>
                                <span class="mrp">MRP:  <span class="rupee">`</span>{{product_price.mrp}} </span><span class="mrp off">({{product_price.final_discount}}% off) </span>
                            </div>
                            <div class="offer">Offer:  <span class="rupee">`</span>{{product_price.final_offer}} | {{productDetails.point}} Points</div>
                            <div ng-show="out_of_stock != 1" class="stock">
                                {{stock_msg}}  |  Shipped in 3 -5 business days
                        <img ng-show="productDetails.Express" title="Items can be shipped in same day" ng-src="Content/custom_images/express.png" />
                            </div>
                            <div ng-show="out_of_stock == 1" class="out_of_stock">
                                {{stock_msg}}
                        <!--<img ng-show="productDetails.Express" title="Items can be shipped in same day" ng-src="Content/custom_images/express.png" />-->
                            </div>
                        </div>
                        <div ng-show="size_ind" class="coompadidv">
                            <h1>SELECT A SIZE</h1>
                            <ul class="selectsize">
                                <buttons-radio style="font-size: xx-small; color: #ff0000; !important" data-toggle="buttons-radio"
                                    model='myModel' options='myOptions' sku_sizes='prod_sku_sizes'></buttons-radio>
                            </ul>
                            <div ng-show="size_ind" class="coompadidv">
                                <div class="sizeguide">Size Guide</div>
                            </div>
                        </div>
                        <div class="coompadidv">
                            <div>
                                <button ng-show="out_of_stock != 1" class="buybtn" data-ng-click="addTocart(productDetails)"><span>Add to Cart</span></button>
                            </div>
                          <!--  <div>
                                <button class="addtoWishlist"><span>Add to Wishlist</span></button>
                            </div>-->
                        </div>
                        <div class="coompadidv">
                            <div class="sizeguide viewfdtl">
                                <a href="#/prod/{{productDetails.id}}">View Full Product Details</a>
                            </div>

                        </div>
                    </div>
                    <div class="btmtext">100% Original Products    Free Shipping On Orders Over 500</div>
                </div>

            </div>
        </div>
    </div>
</div>
