﻿<div class="container" id="shippingDiv" ng-controller="shippingController">
        <header>
            <h3>&nbsp</h3>
        </header>
        <div class="row">
            <div class="span8">
                <div>
                    Name
                </div>
                <div>
                    <input type="text" placeholder="Name" class="input-xlarge" id="name" name="name" ng-model="shipping.name" />
                </div>
            </div>
            <div class="span8">
                <div>
                    Pincode
                </div>
                <div>
                    <input type="text" placeholder="Pin" class="input-xlarge" id="pincode" name="pincode" ng-model="shipping.pincode" />
                </div>
            </div>
            <div class="span8">
                <div>
                    Address
                </div>
                <div>
                    <input type="text" placeholder="Address" class="input-xlarge" id="address" name="address" ng-model="shipping.address" />
                </div>                

            </div>
            <div class="span8"> 
                <div>
                    Landmark
                </div>
                <div>
                    <input type="text" placeholder="Landmark" class="input-xlarge" id="landmark" name="landmark" ng-model="shipping.landmark" />
                </div>
            </div>

            <div class="span8">
                <div>City</div>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="city" name="city" ng-model="shipping.city" />
                </div>
            </div>

            <div class="span8">
                <div>State</div>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="state" name="state" ng-model="shipping.state" />
                </div>
            </div>

            <div class="span8">
                <div>Country</div>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="country" name="country" ng-model="shipping.country" />
                </div>
            </div>

            <div class="span8">
               <div>Mobile No</div>
                <div class="controls">
                    <input type="text" placeholder="Enter Mobile No" class="input-xlarge" id="mobileno" ng-model="shipping.mobile_no" />
                </div>
            </div>

            <div class="span8">
                <div class="controls">
                    <input type="submit" class="btn btn-success" ng-click="addRegistration()" value="Save" />
                </div>
            </div>
            <!-- -->
        </div>
    </div>