


<div class="acct_points view">

<div class="container" style="margin-top: 183px">



 <div class="container my-account" style="margin-top:10px;">

   <span class="left">
<span class="left_bg">
	<ul>
        <!--<li><a href="#">My Profile</a></li>
        <li><a href="#">My Points</a></li>
        <li><a href="#/myorder">My Orders</a></li>-->
		<li class="my-active"><a href="#/wishlist">My Wishlist</a></li>
        <!--<li><a href="#">My Wishlist</a></li>-->
        <!--<li><a href="#">My Product Reviews</a></li>-->
        <!--<li><a href="#">Newsletters</a></li>-->
    </ul>
	</span>
	<!--<a href="#" class="shopping_cart">Shopping Cart<span class="shopping_arrow"></span></a>-->
</span>

   <!--<div class="prooductlistscroll">-->
    <div class="right">
	<span class="heading">
		My Wishlist <span STYLE="font-size: 12px"></span>
	</span>
	<!--<span class="heading1">
		Sort By
	<div class="dropdown" style="margin-top: -60px; margin-left: 60px;">
        <button class="btn btn-default dropdown-toggle widthOfDd" type="button" id="menu1" data-toggle="dropdown">Date Added: Recent First
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
        </ul>
      </div>
	</span>-->
	<div style="height:100px;" ng-show="wishlist_size == 0">Your Wishlist is Empty</div>
    <div data-ng-repeat="wishlist_item in wishlist">
		<div class="productGroup">
		<div style="width:200px; float:left">
			<div class="productImageGroup">
				<img src="{{wishlist_item.image.zoom_link}}" />
				</div>
				<!--<div class="progressInfo">
	<img src="Content/images/1414060800_519633-134_TriangleDown-128.png" style="position: relative;overflow:hidden;max-width:290px;margin-top: -6px;margin-left: -7px; padding-left:{{progress*(100 / wishlist_item.final_offer )}}%" />
				    <div id="progress" style="width:97%" ng-mouseover="on_mouse()" ng-mouseleave="off_mouse()">
                        <progressbar id="progress" class="progress-striped active"  max="wishlist_item.final_offer" value="progress" type="danger"><i>{{wishlist_item.percentage}}%</i></progressbar>
                    </div>
					         <span ng-show="hoverEdit">

								<label>You need {{wishlist_item.target_point}} points to achieve the wish.</label>
							</span>
					{{wishlist_item.percentage_remain}}% Remaining
				</div>-->
				

		</div>	
			<div class="productDetailsGroup">
				<div class="productDetailsMainLabel">
					{{wishlist_item.name}}
				</div>
				<div class="productDetailsQuantityLabel">
					Product Code: {{wishlist_item.sku}}
				</div>
				<div class="productDetailsOther">
					Size:  <strong><font color="black">{{wishlist_item.selected_size}}</font> </strong>
							|
					qty: <strong><font color="black">{{wishlist_item.quantity}}</font></strong>
				</div>
				
				<div class="productMrp">
					<span class="rupee" ng-show="store_type != 'P'">MRP: ` {{wishlist_item.mrp}}</span>
				</div>
				<div class="productDiscount">
					<span ng-show="store_type != 'P'">({{wishlist_item.discount}}% Off)</span>
				</div>
				<div class="productOffer">
                    <span class="rupee" ng-show="store_type != 'P'">Offer: `{{wishlist_item.final_offer * wishlist_item.quantity }} </span>
                    <span class="rupee" ng-show="store_type == 'P'">{{wishlist_item.final_offer * wishlist_item.quantity * conv_ratio}} Points</span>				
				</div>
				<div class="productDetailsShip">
					<img ng-show="wishlist_item.express" title="Items can be shipped in same day" ng-src="Content/custom_images/express.png" />
						<!--<span ng-show="wishlist_item.express">Items can be shipped in same day</span>-->
				</div>

				<div class="productOps">
					<button type="button" class="close1" aria-label="Close" data-ng-click="delete_from_wishlist(wishlist_item.id)"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="productMove">
					<button class="moveButton" data-ng-click="addTocart(wishlist_item)"><span>Move to Cart</span></button>
				</div>
				
				
			</div>
			
			<table style="width:40%;margin-left:225px">

            <tr style="height:50px;">

                <td style="max-width: 260px;">
                    <div id="progress" style="width:97%" class="tooltip-top" data-tooltip="You need {{wishlist_item.target_point}} points to achieve the wish.">
                        <progressbar id="progress" class="progress-striped active"  max="wishlist_item.final_offer" value="progress" type="danger"><i>{{wishlist_item.percentage}}%</i></progressbar>
                    </div>

                    <div style="position: relative;top: -66px;margin-left: 240px;">
                        <img src="Content/images/1414060800_519633-134_TriangleDown-128.png"/>
                    </div>

                    <div id="arrow" style="position: relative;overflow:visible;max-width:290px;margin-top: -6px;margin-left: -7px; padding-left:{{progress*(100 / wishlist_item.final_offer )}}%">
                        <img src="Content/images/1414060770_672416-triangle-up-128.png"/>
                    </div>

                </td>

                <td>
                    {{wishlist_item.percentage_remain}}% Remaining

                </td>


            </tr>

        </table>
		
	<!--	<span ng-show="hoverEdit"  style="border:dotted #000000 1px;color:black;">

         <label>You need {{wishlist_item.target_point}} points to achieve the wish.</label>
         </span> -->
		 
		</div>
		
		

	
	
	
		<!-- Below Code is a Shit by annectos..completely Bull shit-->

		<!-- End of shit Code-->

        </div>
    </div>
</div>






    <!--<tr style="border-bottom:dotted #000 2px;height:50px;">-->


        <!--<td style="max-width: 260px;">-->
            <!--<div id="progress" style="width:100%">-->
                <!--<progressbar id="progress" class="progress-striped active" max="max_point" value="progress" type="danger"><i>{{percentage}}%</i></progressbar>-->
            <!--</div>-->
            <!--<div style="position: relative;top: -66px;margin-left: 249px;">-->
            <!--<img src="Content/images/1414060800_519633-134_TriangleDown-128.png"/>-->
            <!--</div>-->

            <!--<div id="arrow" style="position: relative;overflow: visible;max-width:200px;margin-top: -6px;margin-left: -7px; padding-left:{{progress*(100 / max_point )}}%">-->
            <!--<img src="Content/images/1414060770_672416-triangle-up-128.png"/>-->
            <!--</div>-->

        <!--</td>-->

        <!--<td>-->

            <!--{{remain}}% Remaining-->

        <!--</td>-->


    <!--</tr>-->

</div>
</div>