﻿<div class="message view">
    <div class="container">
        <header>
            <br />
            <br />
            <h3>Message</h3>
        </header>
        <div class="container-fluid">
            <div class="row">
                <!--START : LOGIN POPUP-->
                <div class="black_cover">
                    <div class="popup_bg">
                        <span class="tab_section">
                            <ul>
                                <li class="active">Message</li>
                            </ul>
                        </span>
                        <p class="clear"></p>
                        <!--MESSAGE TAB START-->
                        <div class="tab_content_section">
                            <div ng-bind-html="trustedMessage">
                            </div>
                            <span>
                                <input type="submit" value="Click Here To Resend Activation Email" ng-click="ResendActCode()" ng-hide="showButton()">
                                <!--  <button ng-click="ResendActCode()" ng-hide="showButton()">Click Here To Send Activation Email</button>-->
                            </span>
                            <span>
                                <input type="submit" value="Click Here To Login" ng-click="SendLogin()" ng-hide="showLoginButton()">
                                <!--  <button ng-click="ResendActCode()" ng-hide="showButton()">Click Here To Send Activation Email</button>-->
                            </span>

                        </div>
                        <div class="tab_content_section">

                            <span style="text-align: center">
                                Customer Service +91 9686202046 / 9972334590 (10am to 7pm, Mon-Fri)<br/>
                                Email - <a href='mailto://customerfirst@annectos.in'> Annectoś Sales. </a>
                            </span>
                        </div>
                        <!--MESSAGE TAB END-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
