﻿﻿<div class="reset view">
    <div class="container" id="regDiv" ng-init="resetPwdCheck()">
        <header>
            <h3>Reset Password</h3>
        </header>
        <div class="row">
            <input type="hidden" id="hdnEmail" name='hdnEmail' ng-model="resetpwd.email_id" />
            <input type="hidden" id="hdnGuid" name='hdnGuid' ng-model="resetpwd.guid" />
            <!--START : LOGIN POPUP-->
            <div class="black_cover">
                <div class="popup_bg">
                    <span class="tab_section">
                        <!--<a href="#/home"><span class="popupclose"></span></a>-->
                        <!--  <ul>
                            <li><a href="#/login">Login</a></li>
                            <li class="active">Register</li>
                            <li><a href="#/forgot_password">Forgot Password</a></li>
                            <li><a href="#/message">Message</a></li>
                        </ul>-->
                    </span>
                    <p class="clear"></p>

                    <div class="tab_content_section">

                        <span>
                            <label>Password</label>
                            <input type="password" value="" name="password" ng-model="registration.password" />

                            <label>Confirm Password</label>
                            <input type="password" value="" name="conpassword" ng-model="registration.confrmpwd" />
                        </span>

                        <span>
                            <input type="button" value="Reset" ng-click="changePassword()">
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
