<div class="dc view">
    <div class="container">

        <!-- Start: content -->
        <!-- Start: dedit card -->
        <div class="container points">
            <span class="title">Choose Your Mode Of Payment</span>
            <div class="points_left">
<span class="left">
<span class="left_bg">
	<ul>
        <li><a href="" data-ng-click="route_to('pp')">Points</a></li>
        <li><a href="#/gv">e-Gift Voucher</a></li>
        <li><a href="" data-ng-click="route_to('nb')">Net Banking</a></li>
        <li ><a href="" data-ng-click="route_to('cc')">Credit Card</a></li>
        <li class="my-active"><a href="#">Debit Card</a></li>
    </ul>
	</span>
</span>
                <div class="right">
<span class="heading">Pay using Debit Card
<ul class="payment_method">
    <li><img src="../Content/custom_images/Footer/Master.png" /></li>
    <li><img src="../Content/custom_images/Footer/Visa.png" /></li>
    <li><img src="../Content/custom_images/Footer/Maestro.png" /></li>
</ul>
</span>
            <div class="point_body">
                    <span class="redem_points">
                        <form method="POST" action="" class="credit-card">
                        <span class="field_block">
                            <label class="net_field">Credit Card Number</label>
                            <input type="text"/>
                            </span>
                            <span class="field_block">
                            <label class="net_field">Name on Credit Card</label>
                            <input type="text"/>
                            </span>
                            <span class="field_block">
                            <span class="exp_field_block">
                            <label class="net_field">Expiry Details (Valid Thru)</label>
                            <input type="text" class="exp_field" placeholder="MM / YYYY"/>
                            </span>
                            <span class="exp_field_block">
                            <label class="net_field">CVV</label>
                            <input type="text" class="cvv_field"/>
                            <span class="help">
                                <span class="help_bg"></span>
                            </span>
                            </span>
                            </span>
                            <span class="field_block">
                            <input type="submit" value="PAY Now" class="btn_all"/>
                            </span>
                        </form>
                    </span>
                    <span class="bottom_text_r">By placing the order, you have read and agree to Annectoś.com Terms of Use and Privacy Policy.
                    </span>
            </div>

                </div>
            </div>

            <div class="points_right">
                <div class="shipping_addres_bg">
                    <span class="shipping_text">SHIPPING ADDRESS<a href="#/ship" >Change</a></span>
                    <ul class="address">
                        <li>{{selected_address.name}}</li>
                        <li>{{selected_address.address}}</li>
                        <!--<li>Bannerghatta Road</li>-->
                        <li>{{selected_address.city}}, {{selected_address.state}}</li>
                        <li>{{selected_address.pincode}}, Mobile: {{selected_address.mobile_number}}</li>
                    </ul>
                </div>
                <div class="order_sumary_bg" data-ng-controller="cartController">
                    <span class="order_sum_text">Order summary ({{cart_size}} items)</p></span>
                    <ul class="order">
                        <li data-ng-repeat="cart_item in cart">
                            <span class="img_con"><img src="{{cart_item.image.thumb_link}}"></span>
                                    <span class="right_des">
                                    <span class="price">₹ {{cart_item.final_offer * cart_item.quantity }}</span>
                                    <span class="prd_title">{{cart_item.name}}</span>
                                    <span class="prd_code">Code: {{cart_item.sku}}
                                    <br/>QTY:  <p>{{cart_item.quantity}}</p>
                                    </span>

                                    <img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" />
                                </span>
                        </li>
                        <!--<span class="scroll_bg"><span class="scroll"></span></span>-->
                    </ul>
                    <span class="shipping_r">Shipping<p>{{shipping}}</p></span>
                    <span class="order_total">order TOTAL<p>₹ {{total_amount_billable}}</p></span>
                </div>
            </div>

        </div>
        <!-- end: credit card -->


        <!-- End: content -->





    </div>
</div>