<div class="express_popup view">
    <div class="container">
        <div class="quickBuy">
            <div class="coverOverlay"></div>
            <div class="buyContent">
                <div class="closepop">
                    <img data-ng-click="proceed_normal()"  src="../Content/custom_images/quickBuy/close.png" /></div>

                <div class="container productviewSec">
                    <br/><br/><br/><br/>
                    <div class="productinfo" style="width: 600px; float: left ; margin-left: 140px; ">

                        <div class="coompadidv">
                            <h1>Express Shipping Available !</h1>
                            <div class="pcode">
                                Some of the items in your order qualifies for Express Shipping. <br/>
                                In this schema, we will ship the product within 24 hours and you receieve it in very short period of time. <br/>
                                However Express Delivery costs you Rs 150/-.
                                Please indicate below if you want to opt in for Express Delivery or not.

                            </div>
                            <div>
                                <button class="buybtn"
                                        data-ng-click="proceed_express()"><span>Express Delivery</span></button>
                                <button class="buybtn"
                                        data-ng-click="proceed_normal()"><span>Normal Delivery</span></button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div></div>
