<div class="nb view">
    <div class="container">

        <!-- Start: content -->
        <!-- Start: net banking -->
        <div class="container points">
            <span class="title">Choose Your Mode Of Payment</span>
            <div class="points_left">
<span class="left">
<span class="left_bg">
	<ul>
        <li><a href="" data-ng-click="route_to('pp')">Points</a></li>
        <li><a href="#">e-Gift Voucher</a></li>
        <li class="my-active"><a href="#">Net Banking</a></li>
        <li><a href="" data-ng-click="route_to('cc')">Credit Card</a></li>
        <li><a href="" data-ng-click="route_to('dc')">Debit Card</a></li>
    </ul>
	</span>
</span>
                <div class="right">
                    <span class="heading">Pay using Net Banking</span>
                    <div class="point_body">
<span class="redem_points">
	<form method="POST" action="">
	<span class="field_block">
		<label class="net_field">Choose your bank</label>
		<span class="select_bg">
			<span class="select_field">{{bank_list.name}}</span>
			<select ng-model="bank_list.name" ng-options="bank.name as bank.name for bank in bank_list">

            </select>
		</span>
		</span>
		<span class="note">
			NOTE: After clicking on the "Pay" button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to Annectoś.com to view details of your order.
		</span>
		<span class="field_block">
		<input type="submit" value="PAY Now" class="btn_all"/>
		</span>
    </form>
</span>
                    </div>

                </div>
            </div>

            <div class="points_right">
                <div class="shipping_addres_bg">
                    <span class="shipping_text">SHIPPING ADDRESS<a href="#/ship" >Change</a></span>
                    <ul class="address">
                        <li>{{selected_address.name}}</li>
                        <li>{{selected_address.address}}</li>
                        <!--<li>Bannerghatta Road</li>-->
                        <li>{{selected_address.city}}, {{selected_address.state}}</li>
                        <li>{{selected_address.pincode}}, Mobile: {{selected_address.mobile_number}}</li>
                    </ul>
                </div>
                <div class="order_sumary_bg" data-ng-controller="cartController">
                    <span class="order_sum_text">Order summary ({{cart_size}} items)</p></span>
                    <ul class="order">
                        <li data-ng-repeat="cart_item in cart">
                            <span class="img_con"><img src="{{cart_item.image.thumb_link}}"></span>
                                    <span class="right_des">
                                    <span class="price">₹ {{cart_item.final_offer * cart_item.quantity }}</span>
                                    <span class="prd_title">{{cart_item.name}}</span>
                                    <span class="prd_code">Code: {{cart_item.sku}}
                                    <br/>QTY:  <p>{{cart_item.quantity}}</p>
                                    </span>

                                    <img ng-show="cart_item.express" title="Items can be shipped in same day" ng-src="../Content/custom_images/express.png" />
                                </span>
                        </li>
                        <!--<span class="scroll_bg"><span class="scroll"></span></span>-->
                    </ul>
                    <span class="shipping_r">Shipping<p>{{shipping}}</p></span>
                    <span class="order_total">order TOTAL<p>₹ {{total_amount_billable}}</p></span>
                </div>
            </div>

        </div>
        <!-- end: net banking -->


        <!-- End: content -->





    </div>
</div>